<div class="jumbotron">
  <div class="container">
    <%= image_tag "20110818_Pervoli18_v1.JPG",
	class: "img-responsive"%>
    <blockquote class="text-center">
      <%# http://users.uoa.gr/~nektar/arts/poetry/giwrgos_sarantarhs_poems.htm%>
      <p>Σὲ περιβόλι ἄραξε τὸ περιστέρι</p>
      <p>Σὲ περιβόλι ἄραξε ἡ ψυχή μου</p>
</blockquote>
  </div>
</div>
