<!DOCTYPE html>
<html>
  <head>
    <title>LeniaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= nav_bar brand: 'Ανώγυρο', brand_link: root_path do %>
    <%= menu_group pull: :right do %>
    <%= menu_item "Προϊόντα", '#' %>
    <%= menu_item "Σοδιά", '#' %>
    <%= menu_item "Προϊόντα ανά Χρονιά", '#' %>
    <% end %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
